/*
 * ACM Uniandes-GET Bootcamp
 * Introduccion a HTML5 y CSS3
 *
 * Creado por Jose Rafael Striedinger.
 */

/* important! Sometimes input tag go outside of the div in small sizes. We can fix it by always making the input have a mix-width*/
button,
input,
select,
textarea {
    color: #222;
    font-size: 16px;
    max-width: 90%;
    resize: none;
}
/*Remember margin and padding manages space around elements. One for outside (margin) and the other for the inside (padding)*/
input{padding: 5px; margin-top:5px;}
img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;     
}

/*Our main properties!*/
body {
	font-size: 100%;
  line-height:inherit;
	font-family: 'Open Sans', Helvetica, sans-serif; /*Open Sans is added dynamically thanks to Google Webfonts*/
	color: #1a1a1a;
}
footer{
  background-color: #f2f0f0;
  font-size: 10px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
/*Nice looking hr! Want another? Just google it, you'll find a lot.*/
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    display: block;
    margin: 20px 0;
}

/*Thanks to FontSquirrel.com webfont generator we can get this code. This makes all fonts visible in every browser in the world!
There are many kind of font types and some browsers have their preferences. Wanna look for cool fonts? go to dafont.con or the fontsquirrel.com*/
@font-face {
    font-family: 'lobster_twobold';
    src: url('fonts/lobstertwo-bold-webfont.eot');
    src: url('fonts/lobstertwo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lobstertwo-bold-webfont.woff') format('woff'),
         url('fonts/lobstertwo-bold-webfont.ttf') format('truetype'),
         url('fonts/lobstertwo-bold-webfont.svg#lobster_twobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* The style of our gree buttons!*/
button{
  font-size: 18px; 
  margin: 0;
  border: 0;
  padding: 10px 14px; 
  background-color: #63bd99;
  text-align: center;  
  text-decoration: none;
}
/* These are used for when the mouse of over a button or when a button is active */
button:hover, button:focus, button:active{ background-color: #50a985;}

/* Custom Typography	*/
h1,h2 {
	font-family: 'lobster_twobold',Impact;
	font-weight:normal; /* Just to be sure! */
	color: #181818;
	margin:auto; /*auto because it depende on the size of the font. Let the browser define the margin.*/
}
h1{font-size: 90px;}
h2{font-size: 42px;}
p {	font-size: 18px;  font-weight: 300;}
.white{color:white;}

/*navbar*/
/* Becuase we are using a JS plugin, we must use the tags they suggest for the plugin to work properly*/
.nav-collapse {
    height:auto; 
    width: 100%; /*So the navbar occupies all the page*/ 
    background-color: #f2f0f0;
}
/*ul stand for unorganized list*/
.nav-collapse ul {
    text-align:center;  
    padding: 0;  
    margin: 0 auto; 
}
/* li stands for list item*/
.nav-collapse li {
  display: inline;  
    float: none; /*with this the items will be centered. You can try other stuff like float:left*/
}  
/*a is the tag for links.*/
.nav-collapse li a {  
    display:inline-block;
    font-size: 20px;
    float: none;
    padding: 12px 30px 15px;
    color: #1a1a1a;
    text-decoration: none;   
}
.nav-collapse li a:hover, 
.nav-collapse li a:focus,
.nav-collapse li a:active {  
    text-decoration: none;
    background-color: #dddcdc;
} 
/* This is the little square we see then the navbar is in "responsive mode"*/
.nav-toggle {
  width: 50px;
  height: 50px;
  float: right;
  background-color: #dddcdc; 
}
/* end of Navbar */

/* sections! */
#sections
{
    background-repeat: no-repeat;
    background-position: center center;
    width:100%;
    /*Prefix! Different browser have different engines, that's why for some CSS3 we need these*/
    -webkit-background-size: cover;
      -moz-background-size: cover; /*Mozilla*/
      -o-background-size: cover; /*opera*/
      background-size: cover;     
}
.sec1{  background:url(sections/bg1.jpg); }
.sec2{  padding: 100px 0px 5px;  background:url(sections/bg3.jpg); }
.sec3{  background:url(sections/bg4.jpg); }
/*A little effect on background. A pattern (this time a black-dot pattern) to but in any background. Want other patterns? Go to patternify.com*/
#pattern{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=)repeat;
    width: 100%;
    height: 100%;
}
.sec1 #pattern{padding: 150px 0px 20px;}
.sec3 #pattern{padding: 200px 0px 200px;}

/*When we use RGBA code for colors we can set the alpha value, which manages the transparency. */
.layer{background-color:rgba(242,240,240,.5);width: 100%;}

/* GRID */
.text-center{ text-align: center;} 
.container { position: relative; width: 960px; margin: 0 auto; padding: 0; }

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after { clear:both;}
                                               
                    
/*  GRID OF THREE  */
.three { width: 90%;}
.two { width: 60%;}
.one { width: 32%;}
.offset1{padding-left: 33%}
.offset2{padding-left: 60%}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 479px) {
    .container{width: 100%;}

    .col { width: 95%;}
    .offset1{padding-left: 0%}
    .offset2{padding-left: 0%}
    .container { width: 100%; }

    .nav-collapse,
    .nav-collapse ul {
      list-style: none;
      width: 100%;
      float: left;
      background-color: #f2f0f0;

    }
    .nav-collapse li a{
      width: 100%;
      padding: 0px 0px 0px;
      font-size: 14px;
    }  
     .nav-collapse li a:hover, nav li a:focus {  
        border-top:none;
    } 
    .nav-collapse li a:active {
        background-color: #dddcdc;
        text-decoration: none;
        border-bottom: 0px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
        .container{ width: 768px; }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container { width: 480px; }
}

