/*
 * ACM Uniandes-GET Bootcamp
 * Introduccion a HTML5 y CSS3
 *
 * Creado por Jose Rafael Striedinger.
 */

button,
input,
select,
textarea {
    color: #222;
    font-size: 1.6em;
    max-width: 90%;
}
textarea{height: 100%; resize: none; max-width: 90%;}
input{padding: 5px; margin-top:5px;}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;     
}

body {
	/* We use Golden Ratio. With this our base type is 10px*/
	font-size: 62.5%;
    line-height:inherit;
	font-family: 'Open Sans', Helvetica, sans-serif;
	color: #1a1a1a;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
}
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    display: block;
    margin: 2em 0;
}


@font-face {
    font-family: 'lobster_twobold';
    src: url('fonts/lobstertwo-bold-webfont.eot');
    src: url('fonts/lobstertwo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lobstertwo-bold-webfont.woff') format('woff'),
         url('fonts/lobstertwo-bold-webfont.ttf') format('truetype'),
         url('fonts/lobstertwo-bold-webfont.svg#lobster_twobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

button{
  font-size: 1.8em; 
  margin: 0;
  border: 0;
  padding: 10px 14px; 
  background-color: #63bd99;
  text-align: center;  
  text-decoration: none;
}
button:hover, button:focus, button:active{
  background-color: #50a985;
}

/* Custom Typography	*/
h1,h2 {
	font-family: 'lobster_twobold',Impact;
	font-weight:normal;
	color: #181818;
	margin:auto;
}
h1{font-size: 9em;}
h2{font-size: 4.2em;}


p {
	font-size: 1.8em; /* 10 x 1.6 = 16 */
    font-weight: 300;
}
pwhite{
    font-size: 1.8em; /* 10 x 1.6 = 16 */
    font-weight: 300;
    color: white;
}

/*navbar*/
#nav{
  position: fixed;
}
.nav-collapse {
    height:auto;
    width: 100%;  
    background-color: #f2f0f0;

}

.nav-collapse ul {
    text-align:center;  
    padding: 0;  
    margin: 0 auto; 
}

.nav-collapse li {
  display: inline;  
    float: none; 
}  

.nav-collapse li a {  
    display:inline-block;
    font-size: 2em;
    float: none;
    padding: 12px 30px 15px;
    color: #1a1a1a;
    text-decoration: none;   
}
.nav-collapse li a:hover, li a:focus {  
    text-decoration: none;
    background-color: #dddcdc;
} 
.nav-collapse li a:active {
    background-color: #dddcdc;
    text-decoration: none;
    border-bottom: 0px;
}

.nav-toggle {
  width: 50px;
  height: 50px;
  float: right;
  background-color: #dddcdc;
  
}
/* end of Navbar */

/* sections! */
#sections
{
    /* header dimension! */
    
    /* additional background properties */
    background-repeat: no-repeat;
    background-position: center center;
    width:100%;
   
}

.sec1{
  background:url(sections/bg1.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}
.sec2{
  padding: 10em 0em 5em;
  background:url(sections/bg3.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

.sec3{
  
  background:url(sections/bg4.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

#pattern{

    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=)repeat;
    width: 100%;
    height: 100%;

}

/* "STOP! Responsive time!"*/
@media only screen and (max-width: 40em) 
{
    .nav-collapse,
    .nav-collapse ul {
      list-style: none;
      width: 100%;
      float: left;
      background-color: #f2f0f0;

    }
    
    .nav-collapse li a{
      width: 100%;
      padding: 0px 0px 0px;
      font-size: 1.4em;
    }  
    
    
     .nav-collapse li a:hover, nav li a:focus {  
        border-top:none;
    } 
    .nav-collapse li a:active {
        background-color: #dddcdc;
        text-decoration: none;
        border-bottom: 0px;
    }
}


/* GRID */
.well {background-color:#f2f0f0; }
.pull-right{ float:right}
.pull-left{float:left}
.text-center {
        text-align: center;
    }
 
.container { position: relative; width: 960px; margin: 0 auto; padding: 0; }
.full-width{ position:relative; width:100%; margin:0 auto; padding:0;} 

/*  SECTIONS  */


/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
                                               
                    
/*  GRID OF THREE  */
.three {
    width: 90%;
}
.two {
    width: 60%;
}
.one {
    width: 32%;
}
.offset1{padding-left: 33%}
.offset2{padding-left: 60%}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 479px) {
    .col { 
        width: 95%;
    }
    .offset1{padding-left: 0%}
    .offset2{padding-left: 0%}
    .container { width: 100%; }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container { width: 480px; }
}

